#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
/* #include <dt-bindings/zmk/mouse.h> */

/* Layers */
#define DEF 0
#define SYM 1
#define NUM 2
#define NAV 3

/ {

macros {
	cut: cut {
	label = "cut"; compatible = "zmk,behavior-macro"; #binding-cells = <0>;
	bindings
		= <&macro_press &kp LCTRL>
		, <&macro_tap &kp X>
		, <&macro_release &kp LCTRL>
		;
	};
	copy: copy {
	label = "copy"; compatible = "zmk,behavior-macro"; #binding-cells = <0>;
	bindings
		= <&macro_press &kp LCTRL>
		, <&macro_tap &kp C>
		, <&macro_release &kp LCTRL>
		;
	};
	tcopy: tcopy {
	label = "tcopy"; compatible = "zmk,behavior-macro"; #binding-cells = <0>;
	bindings
		= <&macro_press &kp LCTRL>
		, <&macro_press &kp LSHIFT>
		, <&macro_tap &kp C>
		, <&macro_release &kp LCTRL>
		, <&macro_release &kp LSHIFT>
		;
	};
	paste: paste {
	label = "paste"; compatible = "zmk,behavior-macro"; #binding-cells = <0>;
	bindings
		= <&macro_press &kp LCTRL>
		, <&macro_tap &kp V>
		, <&macro_release &kp LCTRL>
		;
	};
	tpaste: tpaste {
	label = "tpaste"; compatible = "zmk,behavior-macro"; #binding-cells = <0>;
	bindings
		= <&macro_press &kp LCTRL>
		, <&macro_press &kp LSHIFT>
		, <&macro_tap &kp V>
		, <&macro_release &kp LCTRL>
		, <&macro_release &kp LSHIFT>
		;
	};


	guit: guit {
	label = "guit"; compatible = "zmk,behavior-macro"; #binding-cells = <0>;
	bindings
		= <&macro_press &kp RGUI>
		, <&macro_press &kp LSHIFT>
		, <&macro_tap &kp RET>
		, <&macro_release &kp LSHIFT>
		, <&macro_release &kp RGUI>
		;
	};
};

keymap {
	compatible = "zmk,keymap";

	default_layer {
// def
// -------------------------------------------------------------     --------------------------------------------------------------
//           |    Q    |    W    |    F    |    P    |    B    |     |    J    |    L    |    U    |    Y    |    `    |
// |SHIFT/ESC|    A    |    R    |    S    |    T    |    G    |     |    M    |    N    |    E    |    I    |    O    | SHIFT/RETTURN |
//           | CTRL/X  |  ALT/C  |    D    |    V    |    Z    |     |    K    |    H    |    Å    |  ALT/Ä  | CTRL/Ö  |
//                                         |   NUM   |   SYM   |     |GUI/SPACE|   NAV   |
            bindings = <
              &kp Q     &kp W     &kp F     &kp P     &kp B           &kp J     &kp L     &kp U     &kp Y     &kp SQT
&mt LSHIFT ESC &kp A    &kp R     &kp S     &kp T     &kp G           &kp M     &kp N     &kp E     &kp I     &kp O      &mt RSHIFT RET
        &mt LCTRL X  &mt LALT C   &kp D     &kp V     &kp Z           &kp K     &kp H   &kp COMMA &mt RALT DOT &mt RCTRL FSLH
                                        &sl NUM       &sl SYM         &kp SPACE &sl NAV
            >;
        };

        symbol_layer {
// sym
// -------------------------------------------------------------     --------------------------------------------------------------
//           |    ^    |    $    |    #    |    !    |         |     |         |    ?    |    [    |    ]    |    \    |
// |  SHIFT  |    &    |    @    |    :    |    _    |         |     |         |    '    |    (    |    )    |    |    |   /   |
//           |    <    |    >    |    ;    |         |         |     |         |    "    |    {    |    }    |    ~    |
//                                         |   NUM   |  DEF    |     |         |   NAV   |
            bindings = <
              &kp EXCL  &none     &kp LBKT  &kp SQT   &kp HASH        &kp AMPS  &kp QMARK  &kp RBKT  &none     &none
   &mt LSHIFT DEF &kp GT    &kp AT    &kp LPAR  &kp DQT   &kp DLLR        &kp CARET &kp COLON  &kp RPAR  &kp PIPE  &kp TILDE &kp FSLH
              &kp LT    &none     &kp LBRC  &kp UNDER &none           &none     &kp SEMI   &kp RBRC  &none     &kp BSLH
                                            &sl NUM   &sl DEF         &none     &sl NAV
            >;
        };

        numeric_layer {
// num
// -------------------------------------------------------------     --------------------------------------------------------------
//           |         |         |         |    *    |         |     |         |    7    |    8    |    9    |    0    |
// |  SHIFT  |         |         |    +    |    -    |    /    |     |         |    4    |    5    |    6    |    å    |   ä     |
//           |         |         |    %    |    =    |         |     |         |    1    |    2    |    3    |    ö    |
//                                         |   DEF   |   SYM   |     |   GUI   |    0    |
            bindings = <
              &kp N1    &kp N2    &kp N3    &kp N4    &kp N5          &kp N6    &kp N7    &kp N8    &kp N9    &kp N0
   &kp LSHIFT &kp COLON &kp MINUS &kp PLUS  &kp STAR  &kp FSLH        &none     &kp N4    &kp N5    &kp N6    &kp INT1  &kp INT2
              &kp LBRC  &kp DQT   &kp PRCNT &kp EQUAL &none           &none     &kp N1    &kp N2    &kp N3    &kp INT3
                                            &sl NAV   &sl SYM         &kp N0    &sl NAV
            >;
        };

        navigation_layer {
// nav
// -------------------------------------------------------------     --------------------------------------------------------------
//           |   BT 1  |   BT 2  |   BT 3  |   BT 4  |   BT 5  |     |  HOME   |  PGDN   |   PGUP  |  END    |   DEL   |
// |  SHIFT  |         |   cut   |  copy   |  paste  |         |     |  LEFT   |  DOWN   |    UP   |  RIGHT  |   TAB   |   BSPC   |
//           | BT CLR  |         |  tcopy  | tpaste  |         |     |         |         |    .    |    ,    |    /    |
//                                         |         |         |     |         |         |
            bindings = <
   &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_SEL 5    &kp HOME  &kp PG_DN &kp PG_UP &kp END    &kp DEL
     &kp LSHIFT  &none   &cut     &copy     &paste     &none           &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT  &kp TAB   &kp BSPC
             &bt BT_CLR  &none     &tcopy     &tpaste     &none           &cut      &copy     &paste    &tcopy     &tpaste
                                             &sl NUM   &sl SYM         &kp RGUI  &sl NUM
            >;

            /* sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>; */
        };
    };
};
