# Copyright (c) 2020 Pete Johanson, Kurtis Lew
# SPDX-License-Identifier: MIT

config ZMK_BLE
	default y

config ZMK_USB
	default y

if SHIELD_BOWHEAD_LEFT

config ZMK_KEYBOARD_NAME
	default "bowhead"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_BOWHEAD_LEFT || SHIELD_BOWHEAD_RIGHT

config ZMK_SPLIT
	default y

endif
