# Copyright (c) 2020 Pete Johanson, Kurtis Lew
# SPDX-License-Identifier: MIT

config SHIELD_BOWHEAD_LEFT
	def_bool $(shields_list_contains,bowhead_left)

config SHIELD_BOWHEAD_RIGHT
	def_bool $(shields_list_contains,bowhead_right)
